@charset "UTF-8";
body {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  background: none;
}

body {
  background-color: black;
}

/* Fuentes */
@font-face {
  font-family: "roboto-regular";
  src: url("../web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff");
}
@font-face {
  font-family: "roboto-bold";
  src: url(../web-fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff);
}
body {
  background-color: black;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
header a {
  text-align: center;
  text-decoration: none;
}
header a:link {
  color: #03BB65;
}
header a:visited {
  color: #03BB65;
}
header a:hover {
  color: #f5f5f5;
}
header .menu {
  font-family: roboto-bold;
  font-size: 20px;
}
header img {
  width: 600px;
  height: auto;
  padding: 10px;
}
header nav {
  text-align: center;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
  padding: 4px;
  text-transform: uppercase;
}

/* Media query */
/* Mobile */
@media screen and (min-width: 320px) {
  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: black;
  }
  header a {
    text-align: center;
    text-decoration: none;
  }
  header a:link {
    color: #03BB65;
  }
  header a:visited {
    color: #03BB65;
  }
  header a:hover {
    color: #f5f5f5;
  }
  header .menu {
    font-family: roboto-bold;
    font-size: 16px;
  }
  header img {
    width: 200px;
    height: auto;
    padding: 10px;
  }
  header nav {
    text-align: center;
  }
  header nav ul {
    list-style: none;
  }
  header nav ul li {
    display: inline-block;
    padding: 4px;
    text-transform: uppercase;
  }
}
/* Tablet */
@media screen and (min-width: 600px) {
  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: black;
  }
  header a {
    text-align: center;
    text-decoration: none;
  }
  header a:link {
    color: #03BB65;
  }
  header a:visited {
    color: #03BB65;
  }
  header a:hover {
    color: #f5f5f5;
  }
  header .menu {
    font-family: roboto-bold;
    font-size: 20px;
  }
  header img {
    width: 450px;
    height: auto;
    padding: 10px;
  }
  header nav {
    text-align: center;
  }
  header nav ul {
    list-style: none;
  }
  header nav ul li {
    display: inline-block;
    padding: 4px;
    text-transform: uppercase;
  }
}
/* Desktop */
@media screen and (min-width: 1024px) {
  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: black;
  }
  header a {
    text-align: center;
    text-decoration: none;
  }
  header a:link {
    color: #03BB65;
  }
  header a:visited {
    color: #03BB65;
  }
  header a:hover {
    color: #f5f5f5;
  }
  header .menu {
    font-family: roboto-bold;
    font-size: 20px;
  }
  header img {
    width: 600px;
    height: auto;
    padding: 10px;
  }
  header nav {
    text-align: center;
  }
  header nav ul {
    list-style: none;
  }
  header nav ul li {
    display: inline-block;
    padding: 4px;
    text-transform: uppercase;
  }
}
body {
  background-color: black;
}

/* Inicio */
.container-inicio {
  display: flex;
  margin: 10px;
  padding-bottom: 30px;
  border-bottom: solid 1px #505050;
}
.container-inicio .image-inicio {
  object-fit: cover;
  width: 1000px;
  height: auto;
}

/* Galeria Inicio */
.galeria-inicio-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "gal-img1 gal-img2 gal-img3 gal-img4";
  margin: 10px;
  justify-content: center;
  min-height: calc(100vh - 100px - 150px);
}
.galeria-inicio-container .gal-img1, .galeria-inicio-container .gal-img4, .galeria-inicio-container .gal-img3, .galeria-inicio-container .gal-img2 {
  grid-area: gal-img1;
  width: 250px;
  margin: 30px;
  border: solid 1px #505050;
  border-radius: 2px;
}
.galeria-inicio-container .gal-img2 {
  grid-area: gal-img2;
}
.galeria-inicio-container .gal-img3 {
  grid-area: gal-img3;
}
.galeria-inicio-container .gal-img4 {
  grid-area: gal-img4;
}

/* Media query */
/* Mobile */
@media screen and (min-width: 320px) {
  /* Inicio */
  .container-inicio {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-bottom: 20px;
    border-bottom: solid 1px #505050;
  }
  .container-inicio .image-inicio {
    width: 300px;
    height: auto;
    object-fit: cover;
  }

  /* Galeria Inicio */
  .galeria-inicio-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "gal-img1-img2 gal-img3-img4";
    margin: 10px;
    padding: 20px;
    justify-content: center;
    border-bottom: solid 1px #505050;
    min-height: calc(100vh - 100px - 150px);
  }
  .galeria-inicio-container .gal-img1, .galeria-inicio-container .gal-img2, .galeria-inicio-container .gal-img3, .galeria-inicio-container .gal-img4 {
    grid-area: gal-img1-img2;
    width: 125px;
    margin: 15px;
    border: solid 1px #505050;
    border-radius: 2px;
  }
  .galeria-inicio-container .gal-img2 {
    grid-area: gal-img1-img2;
    width: 125px;
    margin: 15px;
    border: solid 1px #505050;
    border-radius: 2px;
  }
  .galeria-inicio-container .gal-img3 {
    grid-area: gal-img3-img4;
    width: 125px;
    margin: 15px;
    border: solid 1px #505050;
    border-radius: 2px;
  }
  .galeria-inicio-container .gal-img4 {
    grid-area: gal-img3-img4;
    width: 125px;
    margin: 15px;
    border: solid 1px #505050;
    border-radius: 2px;
  }
}
/* Tablet */
@media screen and (min-width: 600px) {
  /* Inicio */
  .container-inicio {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-bottom: 20px;
    border-bottom: solid 1px #505050;
  }
  .container-inicio .image-inicio {
    width: 620px;
    height: auto;
    object-fit: cover;
  }

  /* Galeria Inicio */
  .galeria-inicio-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "gal-img1-img2 gal-img3-img4";
    margin: 10px;
    padding: 20px;
    justify-content: center;
    border-bottom: solid 1px #505050;
    min-height: calc(100vh - 100px - 150px);
  }
  .galeria-inicio-container .gal-img1, .galeria-inicio-container .gal-img2, .galeria-inicio-container .gal-img3, .galeria-inicio-container .gal-img4 {
    grid-area: gal-img1-img2;
    width: 250px;
    margin: 30px;
    border: solid 1px #505050;
    border-radius: 2px;
  }
  .galeria-inicio-container .gal-img2 {
    grid-area: gal-img1-img2;
    width: 250px;
    margin: 30px;
    border: solid 1px #505050;
    border-radius: 2px;
  }
  .galeria-inicio-container .gal-img3 {
    grid-area: gal-img3-img4;
    width: 250px;
    margin: 30px;
    border: solid 1px #505050;
    border-radius: 2px;
  }
  .galeria-inicio-container .gal-img4 {
    grid-area: gal-img3-img4;
    width: 250px;
    margin: 30px;
    border: solid 1px #505050;
    border-radius: 2px;
  }
}
/* Desktop */
@media screen and (min-width: 1024px) {
  /* Inicio */
  .container-inicio {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-bottom: 20px;
    border-bottom: solid 1px #505050;
  }
  .container-inicio .image-inicio {
    width: 1000px;
    height: auto;
    object-fit: cover;
  }

  /* Galeria Inicio */
  .galeria-inicio-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "gal-img1 gal-img2 gal-img3 gal-img4";
    margin: 10px;
    padding: 20px;
    justify-content: center;
    border-bottom: solid 1px #505050;
    min-height: calc(100vh - 100px - 150px);
  }
  .galeria-inicio-container .gal-img1, .galeria-inicio-container .gal-img2, .galeria-inicio-container .gal-img3, .galeria-inicio-container .gal-img4 {
    grid-area: gal-img1;
    width: 250px;
    margin: 30px;
    border: solid 1px #505050;
    border-radius: 2px;
  }
  .galeria-inicio-container .gal-img2 {
    grid-area: gal-img2;
  }
  .galeria-inicio-container .gal-img3 {
    grid-area: gal-img3;
  }
  .galeria-inicio-container .gal-img4 {
    grid-area: gal-img4;
  }
}
body {
  background-color: black;
}

.container-noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "roboto-regular";
  color: #f5f5f5;
  min-height: calc(100vh - 100px - 150px);
}
.container-noticias .noticia {
  text-align: center;
  margin: 10px;
  padding-bottom: 30px;
  border-bottom: solid 1px #505050;
}
.container-noticias .noticia .titulo-noticia {
  color: #f5f5f5;
  text-decoration: underline;
}
.container-noticias .noticia .image-noticia-1 {
  padding: 20px;
  width: 500px;
}
.container-noticias .noticia .image-noticia-2 {
  padding: 20px;
  width: 800px;
}
.container-noticias .noticia .image-noticia-3 {
  padding: 20px;
  width: 600px;
}
.container-noticias .noticia .image-noticia-4 {
  padding: 20px;
  width: 700px;
}
.container-noticias .noticia .image-noticia-5 {
  padding: 20px;
  width: 500px;
}
.container-noticias .noticia .parrafo-noticia {
  font-size: 16px;
  text-align: left;
  max-width: 800px;
}
.container-noticias .noticia a {
  text-decoration: none;
  font-family: "roboto-bold";
}
.container-noticias .noticia a:link {
  color: #f5f5f5;
}
.container-noticias .noticia a:visited {
  color: #f5f5f5;
}
.container-noticias .noticia .spotify-insert {
  display: flex;
  padding-top: 20px;
}

/* Media query */
/* Mobile */
@media screen and (min-width: 320px) {
  .container-noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "roboto-regular";
    color: #f5f5f5;
    min-height: calc(100vh - 100px - 150px);
  }
  .container-noticias .noticia {
    text-align: center;
    margin: 10px;
    padding-bottom: 30px;
    border-bottom: solid 1px #505050;
  }
  .container-noticias .noticia .titulo-noticia {
    color: #f5f5f5;
    text-decoration: underline;
  }
  .container-noticias .noticia .image-noticia-1 {
    padding: 20px;
    width: 250px;
  }
  .container-noticias .noticia .image-noticia-2 {
    padding: 20px;
    width: 250px;
  }
  .container-noticias .noticia .image-noticia-3 {
    padding: 20px;
    width: 250px;
  }
  .container-noticias .noticia .image-noticia-4 {
    padding: 20px;
    width: 250px;
  }
  .container-noticias .noticia .image-noticia-5 {
    padding: 20px;
    width: 250px;
  }
  .container-noticias .noticia .parrafo-noticia {
    font-size: 16px;
    text-align: left;
    max-width: 800px;
  }
  .container-noticias .noticia a {
    text-decoration: none;
    font-family: "roboto-bold";
  }
  .container-noticias .noticia a:link {
    color: #f5f5f5;
  }
  .container-noticias .noticia a:visited {
    color: #f5f5f5;
  }
  .container-noticias .noticia .spotify-insert {
    display: flex;
    padding-top: 20px;
  }
}
/* Tablet */
@media screen and (min-width: 600px) {
  .container-noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "roboto-regular";
    color: #f5f5f5;
    min-height: calc(100vh - 100px - 150px);
  }
  .container-noticias .noticia {
    text-align: center;
    margin: 10px;
    padding-bottom: 30px;
    border-bottom: solid 1px #505050;
  }
  .container-noticias .noticia .titulo-noticia {
    color: #f5f5f5;
    text-decoration: underline;
  }
  .container-noticias .noticia .image-noticia-1 {
    padding: 20px;
    width: 500px;
  }
  .container-noticias .noticia .image-noticia-2 {
    padding: 20px;
    width: 500px;
  }
  .container-noticias .noticia .image-noticia-3 {
    padding: 20px;
    width: 500px;
  }
  .container-noticias .noticia .image-noticia-4 {
    padding: 20px;
    width: 500px;
  }
  .container-noticias .noticia .image-noticia-5 {
    padding: 20px;
    width: 500px;
  }
  .container-noticias .noticia .parrafo-noticia {
    font-size: 16px;
    text-align: left;
    max-width: 800px;
  }
  .container-noticias .noticia a {
    text-decoration: none;
    font-family: "roboto-bold";
  }
  .container-noticias .noticia a:link {
    color: #f5f5f5;
  }
  .container-noticias .noticia a:visited {
    color: #f5f5f5;
  }
  .container-noticias .noticia .spotify-insert {
    display: flex;
    padding-top: 20px;
  }
}
/* Desktop */
@media screen and (min-width: 1024px) {
  .container-noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "roboto-regular";
    color: #f5f5f5;
    min-height: calc(100vh - 100px - 150px);
  }
  .container-noticias .noticia {
    text-align: center;
    margin: 10px;
    padding-bottom: 30px;
    border-bottom: solid 1px #505050;
  }
  .container-noticias .noticia .titulo-noticia {
    color: #f5f5f5;
    text-decoration: underline;
  }
  .container-noticias .noticia .image-noticia-1 {
    padding: 20px;
    width: 500px;
  }
  .container-noticias .noticia .image-noticia-2 {
    padding: 20px;
    width: 800px;
  }
  .container-noticias .noticia .image-noticia-3 {
    padding: 20px;
    width: 600px;
  }
  .container-noticias .noticia .image-noticia-4 {
    padding: 20px;
    width: 700px;
  }
  .container-noticias .noticia .image-noticia-5 {
    padding: 20px;
    width: 500px;
  }
  .container-noticias .noticia .parrafo-noticia {
    font-size: 16px;
    text-align: left;
    max-width: 800px;
  }
  .container-noticias .noticia a {
    text-decoration: none;
    font-family: "roboto-bold";
  }
  .container-noticias .noticia a:link {
    color: #f5f5f5;
  }
  .container-noticias .noticia a:visited {
    color: #f5f5f5;
  }
  .container-noticias .noticia .spotify-insert {
    display: flex;
    padding-top: 20px;
  }
}
body {
  background-color: black;
}

/* Biografía */
.container-biografia {
  font-family: "roboto-regular";
  font-size: 16px;
  color: #f5f5f5;
  min-height: calc(100vh - 100px - 150px);
}
.container-biografia .container-biografia-texto {
  font-family: "roboto-regular";
  font-size: 16px;
  text-align: start;
}

/* Media query */
/* Mobile */
@media screen and (min-width: 320px) {
  /* Biografía */
  .container-biografia {
    font-family: "roboto-regular";
    font-size: 16px;
    color: #f5f5f5;
    min-height: calc(100vh - 100px - 150px);
  }
  .container-biografia #carouselExampleControls {
    width: 100% !important;
  }
}
/* Tablet */
@media screen and (min-width: 600px) {
  /* Biografía */
  .container-biografia {
    font-family: "roboto-regular";
    font-size: 16px;
    color: #f5f5f5;
    min-height: calc(100vh - 100px - 150px);
  }
  .container-biografia #carouselExampleControls {
    width: 100% !important;
  }
}
/* Desktop */
@media screen and (min-width: 1024px) {
  /* Biografía */
  .container-biografia {
    font-family: "roboto-regular";
    font-size: 16px;
    color: #f5f5f5;
    min-height: calc(100vh - 100px - 150px);
  }
  .container-biografia #carouselExampleControls {
    width: 75% !important;
  }
}
body {
  background-color: black;
}

/* Discografía */
.discografia-container {
  display: flex;
  max-width: 880px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #505050;
  border-radius: 2px;
  min-height: calc(100vh - 100px - 150px);
}
.discografia-container .img-discografia {
  width: 40%;
  float: left;
}
.discografia-container .disco-texto {
  padding-left: 380px;
}
.discografia-container .titulo-disco {
  font-family: "roboto-bold";
  font-size: 30px;
  color: #f5f5f5;
}
.discografia-container .tracklist {
  font-family: "roboto-regular";
  font-size: 16px;
  color: #f5f5f5;
  list-style: none;
}

/* Media query */
/* Mobile */
@media screen and (min-width: 320px) {
  /* Discografía */
  .discografia-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 250px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #505050;
    border-radius: 2px;
    min-height: calc(100vh - 100px - 150px);
  }
  .discografia-container .img-discografia {
    width: 100%;
    padding-bottom: 10px;
  }
  .discografia-container .disco-texto {
    padding: 0px;
  }
  .discografia-container .disco-texto .titulo-disco {
    font-family: "roboto-bold";
    font-size: 20px;
    color: #f5f5f5;
  }
  .discografia-container .disco-texto .tracklist {
    font-family: "roboto-regular";
    color: #f5f5f5;
    list-style: none;
  }
}
/* Tablet */
@media screen and (min-width: 600px) {
  /* Discografía */
  .discografia-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #505050;
    border-radius: 2px;
    min-height: calc(100vh - 100px - 150px);
  }
  .discografia-container .img-discografia {
    width: 100%;
    padding-bottom: 10px;
  }
  .discografia-container .disco-texto {
    padding: 0px;
  }
  .discografia-container .disco-texto .titulo-disco {
    font-family: "roboto-bold";
    font-size: 20px;
    color: #f5f5f5;
  }
  .discografia-container .disco-texto .tracklist {
    font-family: "roboto-regular";
    color: #f5f5f5;
    list-style: none;
  }
}
/* Desktop */
@media screen and (min-width: 1024px) {
  /* Discografía */
  .discografia-container {
    display: flex;
    max-width: 880px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #505050;
    border-radius: 2px;
    min-height: calc(100vh - 100px - 150px);
  }
  .discografia-container .img-discografia {
    width: 40%;
    float: left;
  }
  .discografia-container .disco-texto {
    padding-left: 380px;
  }
  .discografia-container .titulo-disco {
    font-family: "roboto-bold";
    font-size: 30px;
    color: #f5f5f5;
  }
  .discografia-container .tracklist {
    font-family: "roboto-regular";
    font-size: 16px;
    color: #f5f5f5;
    list-style: none;
  }
}
body {
  background-color: black;
}

/* Video */
.video-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  min-height: calc(100vh - 100px - 150px);
}
.video-container .video {
  margin: 5px;
}

/* Media query */
/* Mobile */
@media screen and (min-width: 320px) {
  .video-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: calc(100vh - 100px - 150px);
  }
  .video-container .video {
    margin: 5px;
  }
  .video-container .video iframe {
    width: 300px;
    height: 181px;
  }
}
/* Tablet */
@media screen and (min-width: 600px) {
  .video-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: calc(100vh - 100px - 150px);
  }
  .video-container .video {
    margin: 5px;
  }
  .video-container .video iframe {
    width: 560px;
    height: 315px;
  }
}
/* Desktop */
@media screen and (min-width: 1024px) {
  .video-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: calc(100vh - 100px - 150px);
  }
  .video-container .video {
    margin: 5px;
  }
  .video-container .video iframe {
    width: 560px;
    height: 315px;
  }
}
.form-container {
  min-height: calc(100vh - 100px - 150px);
}

/* Media query */
/* Mobile */
@media screen and (min-width: 320px) {
  .form-container {
    min-height: calc(100vh - 100px - 150px);
  }
}
/* Tablet */
@media screen and (min-width: 600px) {
  .form-container {
    min-height: calc(100vh - 100px - 150px);
  }
}
/* Desktop */
@media screen and (min-width: 1024px) {
  .form-container {
    min-height: calc(100vh - 100px - 150px);
  }
}
body {
  background-color: black;
}

/* Footer */
footer {
  width: 100%;
  height: 150px;
  background-color: #0a0a0a;
}
footer .footer-container a:link {
  color: #03BB65;
  text-decoration: none;
}
footer .footer-container a:visited {
  color: #03BB65;
}
footer .footer-container a:hover {
  color: #f5f5f5;
}
footer .footer-container a i {
  padding: 16px;
}
footer .footer-container .social-botones {
  display: flex;
  justify-content: center;
  padding: 10px;
}
footer .footer-container nav {
  font-family: "roboto-bold";
  font-size: 12px;
  text-align: center;
}
footer .footer-container nav ul {
  list-style: none;
}
footer .footer-container nav ul li {
  display: inline-block;
  padding: 4px;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
