@import '../base/colores';

/* Biografía */
.container-biografia {
    font-family: 'roboto-regular';
    font-size: $font-principal;
    color: $blanco;
    min-height: calc(100vh - 100px - 90px);

    .container-biografia-texto {
        font-family: 'roboto-regular';
        font-size: $font-principal;
        text-align: start;
    }
}

/* Media query */


/* Mobile */
@media screen and (min-width: 320px) {

    /* Biografía */
    .container-biografia {
        font-family: 'roboto-regular';
        font-size: $font-principal;
        color: $blanco;

        #carouselExampleControls {
            width: 100% !important;
        }
    }
}

/* Tablet */
@media screen and (min-width: 600px) {

    /* Biografía */
    .container-biografia {
        font-family: 'roboto-regular';
        font-size: $font-principal;
        color: $blanco;

        #carouselExampleControls {
            width: 100% !important;
        }
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {

    /* Biografía */
    .container-biografia {
        font-family: 'roboto-regular';
        font-size: $font-principal;
        color: $blanco;

        #carouselExampleControls {
            width: 75% !important;
        }
    }
}