@import '../base/colores';

/* Footer */
footer {
    width: 100%;
    height: 150px;
    background-color: $color-footer;

    .footer-container {

        a {

            &:link {
                color: $verde;
                text-decoration: none;
            }

            &:visited {
                color: $verde;
            }

            &:hover {
                color: $blanco;
            }

            i {
                padding: 16px;
            }
        }

        .social-botones {
            display: flex;
            justify-content: center;
            padding: 10px;
        }

        nav {
            font-family: "roboto-bold";
            font-size: 12px;
            text-align: center;
    
            ul {
                list-style: none;
    
                li {
                    display: inline-block;
                    padding: 4px;
                    text-transform: uppercase;
    
                }
            }
        }

    }

}